



.verde
{
    background: green;
    height: 100px;
    width: 100px;
}
.blanco
{
     background:  white;
     height: 100px;
     width: 100px;
}
.rojo
{
    background: red;
    height: 100px;
    width: 100px;
}





